.layout-root {
    display: inline-block;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;

    .tabs {
        height: 48px;
    }

    .layout-content {
        display: inline-block;
        height: calc(100vh - 48px);
        width: 100vw;
    }
}