.layout-root {
    display: inline-block;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;

    .tabs {
        height: 48px;

        .MuiButtonBase-root {
            margin-top: -16px;
        }
    }

    .layout-content {
        display: inline-block;
        height: calc(100vh - 48px);
        width: 100vw;
        position: absolute;
        top: 48px;
        left: 0px;
        background-color: white;

        .controls {
            position: absolute;
            top: 16px;
            left: 16px;
            display: inline-block;
            width: fit-content;
            height: fit-content;
            padding: 16px;
            opacity: 0.5;
            transition: opacity 0.2s !important;
            z-index: 100;

            &:hover {
                opacity: 1;
            }
        }
    }
}
